body {
    background-color: #1a0000;
    color: #b3003b;
    font-family: 'Orbitron', sans-serif;
    padding: 20px;
}

h1, h2 {
    color: #cc0033;
}

a {
    color: #b3003b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 300px;
    margin-top: 20px;
}
